@import "vars";

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin respond-to($media) {
  @if $media == 1440px {
    @media all and (min-width: $large) {
      @content;
    }
  }
  @if $media == 1024px {
    @media all and (min-width: $medium) {
      @content;
    }
  }
  @if $media == 768px {
    @media all and (min-width: $tablet) {
      @content;
    }
  }
  @if $media == 576px {
    @media all and (min-width: $largeMobDev) {
      @content;
    }
  }
}